.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background: #452c63;
    color: white;
    width: max-content;
    border-radius: 25px;
  }
  
  .menu {
    display: flex;
    gap: 15px;
  }
  
  .hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .navbar {
      float: right;
    }

    .menu {
      z-index: -1;
      display: none;
      flex-direction: column;
      background: #333;
      position: absolute;
      top: 60px;
      right: 20px;
      width: 150px;
      padding: 10px;
      border-radius: 5px;
      transform: translateX(-100%); /* Starts right of the screen */
      animation: slideLeft 1s ease-out forwards; /* Slide animation */
    }
  
    .hamburger {
      display: block;
    }
  
    .menu.active {
      display: flex;
    }
  }

  @keyframes slideLeft {
    from {
      transform: translateX(150%);
    }
    to {
      transform: translateX(0);
    }
  }
  