.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    color: black;
    width: max-content;
    z-index: 2;
  }
  
  .menu {
    display: flex;
    gap: 15px;
  }
  
  .hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 2;
  }
  
  @media (max-width: 768px) {
    .navbar {
      float: right;
      z-index: 3;
    }
  
    .menu {
      z-index: 1;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #333;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      transform: translateX(-100%); 
      animation: slideLeft 1s ease-out forwards; 
    }
  
    .hamburger {
      display: block;
      z-index: 4; 
    }
  
    .menu.active {
      display: flex;
      animation: slideLeft 1s ease-out forwards; 
    }
  
    .menu.inactive {
      display: flex;
      animation: slideRight 1s ease-out forwards; 
    }
  }
  
  @keyframes slideLeft {
    from {
      transform: translateX(150%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideRight {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(150%);
    }
  }
  